div.css-1n76uvr.e1tzin5v0{
    height: 500px;
    border-radius: 30px;
    padding: 20px;
    background-color: #BAE0E7;
}

div.css-1p05t8e.epcbefy1{
    border-radius: 30px;
    padding: 20px;
    background-color: white;
}

div.element-container.css-gbnw8u.e1tzin5v3{
    height: 50px;
    margin-top: 5px;
}

label.css-16huue1.effi0qh3{
    font-size: 15px;
    color:#04AA6D;
    margin-bottom: 0px;
}

input.st-bb.st-by.st-bz.st-c0.st-c1.st-c2.st-c3.st-c4.st-c5.st-c6.st-c7.st-b7.st-c8.st-c9.st-ca.st-cb.st-cc.st-cd.st-ce.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-bx.st-cf.st-cg{
    width: 100%;
    height: 30px;
    background-color: #04AA6D;
}

div.st-bb.st-b4.st-bc.st-b7.st-bd.st-be.st-bf.st-bg.st-bh.st-bi.st-bj.st-bk.st-bl.st-b2.st-bm.st-av.st-ay.st-bn.st-bo.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-bp.st-bq.st-br.st-bs.st-bt.st-bu.st-bv{
    border: none;
}

div.st-bb.st-b4.st-bc.st-b7.st-bd.st-be.st-bf.st-bg.st-bh.st-bi.st-bj.st-bk.st-bl.st-b2.st-bm.st-av.st-ay.st-aw.st-ax.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-bp.st-bq.st-br.st-bs.st-bt.st-bu.st-ce{
    border: none;
    background-color: #04AA6D;
}

div.st-ce{
    padding-right: 0px;
}

input.st-bb.st-by.st-bz.st-c0.st-c1.st-c2.st-c3.st-c4.st-c5.st-c6.st-c7.st-b7.st-c8.st-c9.st-ca.st-cb.st-cc.st-cd.st-ce.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-bx.st-cf.st-cg.st-ch.st-ci:checked{
    border: none;
    background-color: #04AA6D;
}

div.st-bb.st-b4.st-bc.st-b7.st-bd.st-be.st-bf.st-bg.st-bh.st-bi.st-bj.st-bk.st-bl.st-b2.st-bm.st-av.st-ay.st-aw.st-ax.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-bp.st-bq.st-br.st-bs.st-bt.st-bu.st-bv{
    border: none;
}

button.step-down.css-1wadr6w.e1jwn65y1{
    position: relative;
    top: 10px;
    height: 29px;
    background-color: #04AA6D;
}

button.step-up.css-1wadr6w.e1jwn65y1{
    position: relative;
    top: 10px;
    height: 29px;
    background-color: #04AA6D;
}

button.st-b4.st-cj.st-c5.st-c6.st-c3.st-c4.st-ck.st-cl.st-cm.st-c7.st-bx{
    background-color: #04AA6D;
}


label.css-16huue1.effi0qh{
   background-color: green;
    color:black;
}

div.st-cc{
    padding-right: 0px;
}

button.st-b4.st-ch.st-c3.st-c4.st-c1.st-c2.st-ci.st-cj.st-ck.st-c5.st-bv{
    background-color: #04AA6D;
}
